body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin: 0;
    font-size: 20px;
}

.container {
    width: 1200px; /* Ширина контейнера */
    padding: 20px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
}
.greet{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}

.site{
    display:flex;
    
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    left: -200px; /* Скрыто по умолчанию */
    transition: left 0.3s ease;
    padding-top: 40px; /* Отступ сверху для кнопки */
}

.sidebar.active {
    left: 0; /* Показываем меню */
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}


.asideContent{
    padding: 20px;
    text-align: center;
    margin: 0;
}

.productImage{
    width: 150px;
    height: 200px;
}

.filter{
    display: flex;
    
}

.filterItem{
    padding: 5px;
    margin: 5px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    
}

.item{
    display: block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 20%;
}



.content{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}

.productName{
    color:black;
    font-size: 20px;
    text-decoration: none
}
.productName:hover{
    color:gray;
}

.article{
    color:grey;
    font-size:10px;
}