{% load static %}


<div id="menu" class="sidebar">
    <button id="toggleButton" class="toggle-button">☰</button>
      <div id="content" class="asideContent">
{% if user.is_authenticated %}
        <p>Добро пожаловать, <a class="profileLink" href="{% url 'profile' %}">{{ user.username }}</a>!</p>
        <form action="{% url 'logout' %}" method="post">
{% csrf_token %}
        <button class="btn" type="submit">Выйти</button>
        </form>
{% else %}
        <p class="profileLink">Добро пожаловать, гость!</p>
        <a href="{% url 'signin' %}"><button class="btn">Логин</button></a>
        <a href="{% url 'signup' %}"><button class="btn">Регистрация</button></a>
          {% endif %}


          {% if user.is_authenticated %}
          <div class="cart-count">
              Товары в корзине: {{ total_items }}
          </div>
          <div class="">
          <a href="{% url 'favorites' %}">Избранное</a>
          <a href="{% url 'cart_view' %}">Корзина</a>
          </div>
          {% endif %}
        </div>
</div>


<script src="{% static 'aside.js' %}"></script>