<div class="footer"><div class="container"><div class="footerInner">

  <div class="leftSide">
    <p class="footerString"><a href="#" class="footerLink">Link</a></p>
    <p class="footerString"><a href="#" class="footerLink">Link</a></p>
    <p class="footerString"><a href="#" class="footerLink">Link</a></p>
  </div>
  <div class="rightSide">
    <p class="footerString"><a href="https://github.com/Qushuker/DjangoOnlineShop" class="footerLink">Репозиторий</a></p>
    <p class="footerString"><a href="https://t.me/raywrk" class="footerLink">Telegram</a></p>
    <p class="footerString"><a href="#" class="footerLink">Link</a></p>
  </div>


</div></div></div>