{% extends "base.html" %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
<div class="cart"><div class="container"><div class="cartInner">
    <h1>Ваша корзина</h1>
<table>
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
    </tr>
    {% if cart %}
        {% for item in cart.cartitem_set.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td><a href="{% url 'increase_quantity' item.product.id %}">+</a>
                <a href="{% url 'decrease_quantity' item.product.id %}">-</a></td>
            <td><a href="{% url 'remove_from_cart' item.product.id %}">Удалить</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>Общая стоимость:</strong></td>
            <td><strong>{{ total_cost }}</strong></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Ваша корзина пуста.</td>
        </tr>
    {% endif %}

</table>
<a href="{% url 'clear_cart' %}">Очистить корзину</a>

<a href="{% url 'product_list' %}">Домой</a>
</div></div></div>
{% endblock %}