{% extends "base.html" %}
{% load static %}

{% block title %}
Избранное
{% endblock %}

{% block body %}

<div class="favorites"><div class="container"><div class="favoritesInner">
<table>
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            <form action="{% url 'remove_from_favorites' product.id %}" method="post">
                {% csrf_token %}
                <a href="#" class="toggle-favorites itemButton" data-product-id="{{ product.id }}" data-favorited="false">
                    <img class="heart" src="{% static 'img/icons/heart-off.svg' %}" alt="">
                </a>

            </form>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Нет избранных товаров.</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'product_list' %}">Домой</a>
</div></div></div>
{% endblock %}