{% extends "base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}
<!DOCTYPE html>

{% block body %}
  <div class="header">
     <div class="container">
        <div class="headerInner">
            <div class="logo">RayShop</div>
         
         <a class="headerLink" href="{% url 'product_list' %}">Назад к списку продуктов</a>
         </div>
     </div>
  </div>
   <div class="product">
   <div class="container">
   <div class="productInner">
    {% if product.image %}
    <div class="productImages">
        <img class="productImage_detail" src="{{ product.image.url }}" alt="{{ product.name }}">
        
    </div>
    {% endif %}
    <div class="productContent">
        <p class="productArticle_detail">{{ product.sku }}</p>
        <h1 class="productName_detail">{{ product.name }}</h1>
        <p class="productDescription_detail">{{ product.description }}</p>
        <p class="productFeatures_detail">Цвет: {{ product.color }} Размер: {{ product.size }}</p>
        <p class="productPrice_detail">Цена: {{ product.price }} руб.</p>
    </div>
    </div>
    
    </div>
    </div>



    

{% endblock %}